<form [formGroup]="pacienteForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Información del paciente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id" formControlName="id">
            <mat-error *ngIf="pacienteForm.controls['id'].hasError('required')">
              Id is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Documento</mat-label>
            <mat-select formControlName="idDocumento" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let documento of documentos" [value]="documento.id">
                {{documento.titulo}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="pacienteForm.hasError('required')">Please choose a document</mat-error>
            <mat-hint>{{pacienteForm.value?.sound}}</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="pacienteForm.controls['nombre'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
            <mat-error *ngIf="pacienteForm.controls['apellidos'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo electrónico" formControlName="correoElectronico">
            <mat-error *ngIf="pacienteForm.controls['correoElectronico'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Teléfono" formControlName="telefono">
            <mat-error *ngIf="pacienteForm.controls['telefono'].hasError('required')">
              Phone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="idCategoria" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                {{categoria.titulo}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="pacienteForm.hasError('required')">Please choose a category</mat-error>
            <mat-hint>{{pacienteForm.value?.sound}}</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
